* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
}

.table {
    cursor: pointer;
}

.cursor-not-allowed{
    cursor: not-allowed;
}

.game-container {
    display: flex;
    margin: auto;
    gap: 20px;
    flex-direction: column;
}

.heading {
    text-align: center;
}

.resetBtn {
    align-self: center;
    width: 70px;
    height: 30px;
}

.cross::before {
    content: '\2716';
    font-size: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zero::before {
    content: 'O';
    font-size: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.result {
    text-align: center;
}

td {
    border: none;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}