* {
	margin: 0px;
	padding: 0px;
}

.container {
	height: 100vh;
	display: flex;
}

td {
	border: 1px solid black;
	width: 100px;
	height: 100px;
}

table {
	cursor: pointer;
}
.game-container {
	display: flex;
	gap: 15px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.black {
	background-color: black;
}
.red {
	background-color: red;
}

.resetBtn {
	font-size: 20px;
	width: 100px;
	height: 40px;
    cursor: pointer;
}

.cross::before {
	content: "X";
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 80px;
	color: white;
}
.zero::before {
	content: "O";
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 80px;
	color: white;
}

.result {
	font-weight: bold;
	font-size: 20px;
}

#cursorDiv {
	cursor: not-allowed;
}
