*{
    margin: 0;
}

.container{
    height: 100vh;
    display: flex;
}

.counter-container{
    background-color: antiquewhite;
    margin: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}
.input-container{
    display: flex;
}
.input{
    width: 30px;
}
.add:active, .subtract:active, .reset:active{
    background-color: white;
}