* {
	margin: 0;
}

.container {
	height: 100vh;
	display: flex;
}

.box-container {
	margin: auto;
	width: 40%;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.row1 {
	display: flex;
	justify-content: space-between;
}
.box {
	border: 2px solid black;
	height: 100px;
	width: 100px;
}
.green{
    background-color: green;
}
