.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star-container{
    cursor: pointer;
}

.star {
    font-size: 40px;
    color: gray;
}

.filled, .star:hover {
    color: yellow;
}




































/* .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.star-container{
    cursor: pointer;
}

.star{
    color: gray;
    font-size: 40px;
}
.star-filled{
    color: yellow;
} */